<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width initial-scale=1">
    <title>Sign Up</title>
    <link rel="stylesheet" href="node_modules/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="node_modules/mdi/css/materialdesignicons.min.css" media="all"/>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="bootstrap.min.css">
</head>
<body>

    <md-toolbar layout="top center">
        <div class="md-toolbar-tools">
            <span class="md-flex">Sign Up</span>
        </div>
    </md-toolbar>

    <md-content layout-padding ng-app="samApp" ng-controller="listController" >
        <div layout="row" layout-align="center center">
        <div flex-sm="100" flex-gt-sm="90" flex-gt-md="80" md-whiteframe='11'>
            <md-content class="md-padding">
                <form name="signUpForm" ng-submit="submitForm(signUpForm)" novalidate>
                    <md-input-container class="md-block">
                        <label>Name:</label>
                        <input type="text" data-ng-model="form.name"  name="signUpName" md-no-asterisk required/>
                        <div ng-messages="signUpForm.signUpName.$error">
                            <div ng-message="required">Write your name.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Email:</label>
                        <input type="email" name="signUpEmail" data-ng-model="form.email"
                            minlength="10" maxlength="30" md-no-asterisk required/>
                        <div ng-messages="signUpForm.signUpEmail.$error">
                            <div ng-message="required">Enter your email.</div>
                            <div ng-message="email">Your email must be look like example@google.com.</div>
                            <div ng-message="minlength">your email too short.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label for="password">Password:</label>
                        <input type="password" data-ng-model="form.password" name="signUpPassword"
                                minlength="8" maxlength="15" md-no-asterisk required/>
                        <div ng-messages="signUpForm.signUpPassword.$error">
                            <div ng-message="required">Enter your password.</div>
                            <div ng-message-exp="['minlength','maxlength']">
                                Your password must be contain between 8 and 15 numbers.
                            </div>
                        </div>
                    </md-input-container>
                    <md-button type="submit" class="md-primary ">Sign Up</md-button>
                </form>
            </md-content>
        </div>
        </div>
    </md-content>




    <script src="node_modules/angular/angular.js"></script>
    <script src="node_modules/angular-animate/angular-animate.js"></script>
    <script src="node_modules/angular-aria/angular-aria.js"></script>    
    <script src="node_modules/angular-material/angular-material.js"></script>
    <script src="node_modules/angular-messages/angular-messages.min.js"></script>
    <script src="script/app.js"></script>
</body>
</html>