body{
    margin: 0px;
    padding: 0px;
}
*{
    margin: 0px;
    padding: 0px;
}
.header-box{
    height: auto;
    padding-bottom: 4px;
    background:-webkit-linear-gradient(rgba(43,174,192,0.7),#008080);
    background: -moz-linear-gradient(rgba(43,174,192,0.7),#008080);
    background: -o-linear-gradient(rgba(43,174,192,0.7),#008080);
    box-shadow: 0px 5px 8px gray;
}
.logo{
    height: 50px;
    /*line-height: 50px;*/
    /*border: 1px solid red;*/
}
.logo marquee{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
	font-size: 2.5em;
	color: darkslateblue;
	text-shadow: 2px 2px 8px white, 2px 5px 5px darkslategray;
    letter-spacing: 0.09em;
}
.time{
    height: auto;
    /*line-height: 50px;*/
    /*border: 1px solid red;*/
    display: inline-block;
}
.time p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.4em;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 6px black;
}
.time span{
    color: white;
    font-weight: bold;
    font-size: 0.7em;
    font-family: monospace;
}
.menu{
    height: auto;
    /*border: 1px solid red;*/
    float: left;
    margin-top: 5px;
}
.menu-list ul{
    list-style: none;
}
.menu-list ul li {
    float: left;
    width: 120px;
    height: 40px;
    line-height: 40px;
    /*border: 1px solid blue;*/
    text-align: center;
}
.menu-list ul li a{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: normal;
    display: block;
    text-shadow: 0px 2px 4px dimgray;
}
.menu-list ul li a:hover{
    text-decoration: none;
    color: white;
    border-bottom: 4px solid white;
    transition: 0.4s;
}